<ion-view view-title="Plages horaires" class="calendar-edit-day">
	<ion-content class="padding">
	
		<div class="row">
			<div class="col">Date de début</div>
			<div class="col">Date de fin</div>
		</div>
		<div class="row">
			<div class="col">
				<ionic-datepicker input-obj="editRestrict.datepickerObject">
				    <button class="button button-block button-positive"> {{editRestrict.datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
				</ionic-datepicker>
			</div>
			<div class="col">
				Datepicker
			</div>
		</div>
		<div class="row">
			<div class="col">Heure de début</div>
			<div class="col">Heure de fin</div>
		</div>
		<div class="row">
			<div class="col">
				<ionic-timepicker etime="editRestrict.restrictData.timeStart" format="24" step="15" callback="editRestrict.timePickerCallback">
					<label class="item item-input">
				    	<p>{{editRestrict.restrictData.timeStart|time}}</p>
				 	</label>
			 	</ionic-timepicker>
			</div>
			<div class="col">
				<ionic-timepicker etime="editRestrict.restrictData.timeEnd" format="24" step="15" callback="editRestrict.timePickerCallback">
					<label class="item item-input">
				    	<p>{{editRestrict.restrictData.timeEnd|time}}</p>
				 	</label>
			 	</ionic-timepicker>
			</div>
		</div>
		
	</ion-content>
</ion-view>
