<ion-view view-title="Accueil" class="header-accueil">
  <ion-content class="padding">
    <div class="logo">
      <img src="img/logo.png">
    </div>

    <div class="je_cherche">
      <p>JE CHERCHE UN(E) : </p>
    </div>

    <div class="btn_recherche">
      <div class="row">
        <div class="col col-50">
          <button class="button button-outline button-positive size">NOUNOU</button>
        </div>

        <div class="col col-50">
          <button class="button button-outline button-positive size">BABY-SITTER</button>
        </div>
      </div>
    </div>

    <div class="localisation">
      <p>PRES DE : </p>

      <form>
        <input type="text" placeholder="Entrez une adresse, ville, code postal ..." id="adresse">
      </form>

      <div class="icones">
        <img src="img/icones.png">
      </div>
    </div>


  </ion-content>
</ion-view>
