<body ng-app="starter" ng-controller="chatController">
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content>

      <h1 class="title">My Chat</h1>
        <div class="row row-bottom">
            <div class="col">
                <div class="chatbox-container">
                    <ul class="chatbox">
                        <!-- We output the messages -->
                        <li ng-repeat="msg in messages">{{msg.content}}</li>
                    </ul>
                </div>
                <form name="myform" ng-submit="addMessage(message.theMessage)">
                    <label class="item item-input message-input">
                        <!-- the input text field is bound to message.theMessage -->
                        <input type="text" ng-model="message.theMessage" placeholder="Type your message..."
                        />
                    </label>
                    <button class="button button-block button-positive" action="submit">
                        Envoyer
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</body>
 
</html>


<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Recherche" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search-parent">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Conversations" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Compte" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>