<ion-view view-title="Profile" class="profile-parents">
	<ion-content class="padding">
		<form>
			<div class="row">
				<div class="col">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="text" placeholder="Nom">
				  		</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="text" placeholder="Prenom">
				  		</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col col-50">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="text" placeholder="Age">
				  		</label>
					</div>
				</div>

				<div class="col col-50">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="text" placeholder="genre">
				  		</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="email" placeholder="email">
				  		</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="list list-inset">
				  		<label class="item item-input">
					    	<i class="icon ion-search placeholder-icon"></i>
					    	<input type="password" placeholder="mot de passe">
				  		</label>
					</div>
				</div>
			</div>
		</form>

		

		<div class="row">
  			<div class="col">
  				<div class="end">
  					<button class="button button-block button-calm">Enregistrer</button>
  				</div>
  			</div>
		</div>
		

	</ion-content>
</ion-view>