<ion-view view-title="Recherche" class="search-parents">
	<ion-content class="padding">
		<div class="logo">
			<img src="img/logo-typo.png">
		</div>

		<h1>Recherche d'annonces</h1>

		<form>
			<div class="list list-inset">
		  		<label class="item item-input">
			    	<i class="icon ion-search placeholder-icon"></i>
			    	<input type="text" placeholder="Locatilsation">
		  		</label>
			</div>
		</form>

		<div class="row">
  			<div class="col col-50">
  				<ionic-timepicker etime="searchNannies.slots.epochTime" format="searchNannies.slots.format" step="searchNannies.slots.step" callback="searchNannies.timePickerCallback">    
				<button class="button button-block button-positive">Début</button>
				</ionic-timepicker>
  			</div>

  			<div class="col col-50">
  				<div class="start">
  					<button class="button button-block button-stable">{{ searchNannies.slots.epochTime | time }}</button>
				</div>
  			</div>
		</div>
		
		<div class="row">
  			<div class="col col-50">
  				<ionic-timepicker etime="searchNannies.slots2.epochTime" format="searchNannies.slots2.format" step="searchNannies.slots2.step" callback="searchNannies.timePickerCallback">    
				<button class="button button-block button-positive">Fin</button>
				</ionic-timepicker>
  			</div>

  			<div class="col col-50">
  				<div class="end">
  					<button class="button button-block button-stable">{{ searchNannies.slots2.epochTime | time }}</button>
  				</div>
  			</div>
		</div>

		<div class="row">
  			<div class="col">
  				<div class="end">
  					<button class="button button-block button-calm">Recherche</button>
  				</div>
  			</div>
		</div>
		

	</ion-content>
</ion-view>